<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chatbot</title>
  <link rel="stylesheet" href="/static/assets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>


  <div class="container-fluid">
    <div class="">
      <div class="row ">
        <div class="col-md-6 py-5" style="background-image: url('/static/assets/Group\ 12363.jpg'); background-size: cover;">
          <div class="container">
            <div>
              <img src="/static/assets/spsoft 1.png" alt="">
            </div>
            <div class="py-3">
              <center>
                <img src="/static/assets/Group 11913.png" alt="">
              </center>
              <h6 class="documentai text-white text-center">Document.Ai</h6>
              <p class="docdec">Ai Based Document Analytics</p>
              <div class="py-5">
                <h6 class="content">Documents Search Bot</h6>
                <p class="content-dec">The Documents Search Bot is an innovative application designed to streamline the process of searching for information within various document formats. 
                  With support for PDF, Excel, Word, and PowerPoint files, users can effortlessly upload their documents and engage with a sophisticated chatbot to retrieve relevant information. 
                  This application revolutionizes document management by integrating intuitive features such as drag-and-drop functionality and a seamless chat interface, enhancing user experience and efficiency.
                  </p>
              </div>
              <p class="version">Version 1.0</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-end">
            <!-- <img src="/static/assets/26 32.svg" alt=""> -->
          </div>

          <div class="d-flex flex-column justify-content-center h-75">
            <div class="d-flex justify-content-center">
              
            <div class=" ">
              <h6 class="welcome">Welcome User</h6>
              <h6 class="uplaod">Upload Documents</h6>
              <form method="post" action="/" enctype="multipart/form-data" class="mt-4">
                <div class="d-flex flex-row justify-content-between">
                  <div class="d-flex flex-column ">
                    <div class="mb-3">
                      <input class="form-control" name="file" type="file" id="formFile">
                    </div>
                    <div class="mb-3">
                      <input class="form-control" name="url" type="text" placeholder="Enter URL">
                    </div>
                    <div class="form-group mt-4 ">
                      <input type="submit" value="Submit" class="btn btn-info w-100">
                    </div>
                  </div>
                </div>
              </form>
            </div>

            </div>
            
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="row">
      <div class=" col-12 py-2" style="background-color: #F2F2F2;">
      <p class="copyright mt-3">© Copyright 2023 SP Software (P) Limited, All Rights Reserved. </p>
    </div> 

    </div>
    
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
